<div id="bg_loop">
    <video autoplay loop class="brightness">
        <source src="vendor/public/storage/bg_kite.mp4">
    </video>

    <div id="content_video">
        <span class="title_video">Bienvenue sur NormandieKite</span>
        <span class="title_video">Le site dedié au kitesurf en Normandie !</span>
        <span></span>
    </div>
</div>
<div class="header header-home">
    <div class="col-xs-12">
        <span>Articles</span>
        <p>Nos derniers articles sur le kitesurf en normandie</p>

    </div>
</div>
<section>
    <div class="container">
        <div class="row" style="">
            <div class="col-xs-12 col-md-12 ">
                <div class="col-xs-12 content">
                    <h2>Session wake le 19 Aout 2016</h2>
                    <hr>
                    <figure><img class="img-responsive center-block" src="vendor/public/storage/home_pic/wake.jpg" alt="Wakeboard lac"></figure>
                    <p>Avec la pétole de l'été, une séssion wake est organisé le 19 août. Des covoiturages seront organisés
                        pour permettre au plus grand nombre d'accédé aux site. Si vous voulez prendre avec vous des personnes,
                        contactez nous !</p>
                    <p>Pensez a prendre votre combinaison ainsi que votre planche de wakeboard si vous en avez
                        une, sinon des planches pourront être loués sur place. </p>
                    <p>
                        Pour les réservations et tarifs, appellez le 06.08.04.51.84.
                    </p>
                </div>
                <div class="col-xs-12 content">
                    <h2>Achat d'un paddle par l'association</h2>
                    <hr>
                    <figure><img class="img-responsive center-block" src="vendor/public/storage/home_pic/paddle.jpg" alt="paddle sur lac"></figure>
                    <p>Pour « gonfler » le matos à disposition des adhérents du CNKite, le club vient d’acheter un SUP
                        gonflable Lokahi (Mares – 10,4) pour sauver les jours de pétole et faire découvrir les joies
                        d’une glisse sans vent.</p>
                    <p>Si vous souhaitez emprunter le SUP, contactez Benjamin alias ben moon sur le forum ou par mail :
                        tresorier@cnkite.fr
                    </p>
                    <p>
                        Il s’agit d’une board polyvalente et légère idéal pour la découverte, s’amuser en balade ou pour
                        les premières sensations en vagues. Vous emballez pas ça reste un SUP gonflable qui atteint
                        rapidement ses limites dans le gros swell 😉

                        Il n’y a qu’un aileron central ce qui rend la planche moins encombrante une fois pliée.</p>
                </div>
                <div class="col-xs-12 content">
                    <h2>Inscription séjour au glénan</h2>
                    <hr>
                    <figure><img class="img-responsive center-block" src="vendor/public/storage/home_pic/glenan.jpg" alt="Photo de plage et mer glénan"></figure>
                    <p>La session automnale du weekend Glénan est lancée et vous avez été encore plus rapide que les
                        fans de Rhianna car les 30 places disponibles sont parties en moins d'1heure. N'hésitez pas
                        néamoins à vous mettre en liste d'attente au cas où! ;-)

                        Toutes les infos sur le forum [Weekend Glénan Novembre 2016] et l'event Facebook [Weekend Glénan
                        Novembre 2016]</p>
                    <p>
                        Et une surprise pour Octobre

                        Sinon, surveillez bien le forum ces prochains jours car on vous réserve une petite surprise pour le mois d'octobre.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style></style>
<script src="vendor/public/js/home.js"></script>
