<section>
    <div class="header">
        <div class="col-xs-12">
            <span>Notre team</span>
        </div>
    </div>
   <div class="container-fluid">
    <div class="row" id="teamContent">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12"><figure><img class="img-circle img-border img-responsive" src="vendor/public/storage/team_pic/charlotte.jpg" alt="Photo de Charlotte Consorti"></figure></div>
            <div class="col-lg-12">
                <p>Charlotte Consorti est une kitesurfeuse française professionnelle née le 24 octobre 1978 à
                    Levallois,
                    en
                    Île-de-France. Elle est triple championne du monde de vitesse.
                </p>
                <p>Charlotte Consorti a grandi en banlieue parisienne, à Saint-Ouen. C’est cependant en Bretagne et
                    en
                    Italie, lieux de prédilection de ses grandes vacances d'enfance, qu’elle développe sa forte
                    passion
                    pour
                    la mer. Ainsi, après le baccalauréat, elle quitte Paris pour s’installer à Montpellier. Quand
                    elle
                    ne
                    voyage pas à travers le monde, c'est d'ailleurs en Méditerranée qu'elle continue de s'entraîner
                    2.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12"><figure><img class="img-circle img-border img-responsive" src="vendor/public/storage/team_pic/kevin.jpg" alt="Photo de Kevin Langree"></figure></div>
            <div class="col-lg-12">
                <p>Kevin Langree est un kitesurfer néérlandais professionelle née le 21 juillet 1988 à Noordwijk. Il
                    démarre le kitesurf en 2000 puis très vite remporte le "Dutch freestyle champion" en 2003.
                </p>
                <p>Il décroche des contrats avec des sponsors tel que Naish, Xdubain ou encore O'Neill.</p>
                <p>Il décroche 3 fois le titre de vice champion du PKRA Freestyle en 2006-2007-2008, puis le titre
                    de
                    champion du PKRA en 2009.
                </p>
                <p>En 2014, il remporte le plus grand tournoi de kitesurf old school, le king of the air.</p>

            </div>
        </div>
        <div class=" col-sm-4 col-xs-12">
            <div class="col-lg-12"><figure><img class="img-circle img-border img-responsive" src="vendor/public/storage/team_pic/nick.jpg" alt="Photo de Nick Jacobsen"></figure></div>
            <div class="col-lg-12">
                <p>Nick Jacobsen est un kitesurfer danois professionelle née le 10 janvier 1987 à Taarbaek. Il
                    démarre le kitesurf en 2000.
                </p>
                <p>Il décroche des contrats avec des sponsors tel que Vkwc ou Zed.</p>
                <p>Il participe en 2015 aux célèbres vidéo de Tom's kitchen, présentant différents tricks</p>
                <p>
                    Il participe régulièrement a des tournois big air comme le king of the air.
                </p>
            </div>
        </div>
    </div>
   </div>
</section>